{% extends "base.html" %}
{%block title %}<title>this is create catagory </title>{% endblock %}
{% block style %}
	<style type="text/css">
		#fh5co-offcanvas {
    width: auto;
}
#fh5co-offcanvas .fh5co-menu, #fh5co-offcanvas .fh5co-bio {
    width: auto;
    padding: 50px;
}


	</style>

{% endblock  %}
{% load static %}
{% block content %}

<div class="container-fluid">

    <form action="" method="POST">

        {% csrf_token %}
        {{ form.as_p}}
        <button class="btn-btn-primary">Submit</button>

    </form>

</div>








{% endblock %}

{% block scrip %}
{% endblock %}