
{% extends "base.html"%}
{% block title %}<title>this is profile</title> {% endblock %}
	<style type="text/css">
		#fh5co-offcanvas {
    width: auto;
}
#fh5co-offcanvas .fh5co-menu, #fh5co-offcanvas .fh5co-bio {
    width: auto;
    padding: 50px;
}



	</style>
{% block style %}
{% endblock  %}
{% load static %}
{% block profile %}

<div class="fh5co-bio">
			<figure>
				<img src="{{ auth.image.url }}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
			</figure>
			<h3 class="heading">About Me</h3>
			<h2>{{ auth.name }}</h2>
			<p>{{ auth.details }} </p>
			<ul class="fh5co-social">
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-instagram"></i></a></li>
			</ul>
		</div>
{% endblock %}
{% block content %}


            {% for post in auth_post %}
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="{{ post.get_artical_url }}"><img src="{{ post.image.url  }}" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="{% url 'blog:topic' post.catagory.name %}">{{ post.catagory.name }}</a></span>
				<h2 class="fh5co-article-title"><a href="{{ post.get_artical_url }}">{{ post.body }}</a></h2>
				<span class="fh5co-meta fh5co-date">{{ post.posted_on }}</span>
			</article>
             {% endfor %}

{% endblock %}

	{% block scrip %}
    {% endblock %}